.container {
    background-color: white;
    padding: 24px;
    display: flex;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    font-size: 24px;
    font-family: futura, sans-serif;
    background-color:white;
    text-align: center;
    padding: 12px;
  }
  
  .item:first-child {
    background-color: white;
  }