{% extends "layout.html" %}

{% block content %}



<div class="jumbotron">
  
    <style>
        .jumbotron { 
          background-color:#262626; /* Orange */
          color: #ffffff;
        }
       
.banner {
  text-align: center;
  padding-top: 5%;
}
.title {
  font-family: 'Kaushan Script', cursive;
  font-size: 100px;
  color: #006489;
  margin-bottom: -5%;
}


  
    </style>
    <body>
      <center>
        <div class="banner">
            <h1 class="title">DentoBot</h1>
            <br>
            <br>
            
        </div>


    
     
     

 
   
<a class="frm" href="#"><img src="static/img/robot.jpg" alt="" /></a> 
<br>
<strong>
  <br>
       
 <h3>We are designing an artificial agent that will promote oral health awareness</h3>
</Strong>

<p> Be part of the design, helps us in the construction by taking the survey </p>

</center>
<br>
<br>
<br>

    </body>
    <hr class="my-4">
   
  
  
    <p class="lead">
      
    </p>
  </div>

  <br>
  <br>
  <br>
          

{% endblock %}












      

