
{% extends "layout.html" %}


{% block content %}








{% if session.username %}

<div class="wrap">
    <h1 class="likert-header">This is a personality quiz</h1>
<form action="{{ url_for('add_personality') }}" method="post">
    <br>
    <br>
    <br>
<br>
    <h4 class="likert-header">Please answer the following questions:</h4>
    <!-- Grid column -->
    <div class="col-md-4" style="background-color:#fafaff">
        <br>
        <br>
        <br>
  <br>
    
          <label class="statement">I have excellent ideas.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p1" value="strong_agree" required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p1" value="agree" required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p1" value="neutral" required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p1" value="disagree" required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p1" value="strongly_disagree" required>
              <label>Strongly disagree</label>
            </li>
          </ul>
          <label class="statement">I am quick to understand things.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p2" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p2" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p2" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p2" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p2" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
          <label class="statement">I am not interested in abstractions.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p5" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p5" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p5" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p5" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p5" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
          <label class="statement">I am always prepared.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p8" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p8" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p8" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p8" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p8" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I get chores done right away.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p10" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p10" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p10" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p10" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p10" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I follow a schedule</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p12" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p12" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p12" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p12" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p12" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
            </ul>
            <label class="statement">I often forget to put things back in their proper place.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p16" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p16" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p16" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p16" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p16" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I am the life of the party.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p18" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p18" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p18" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p18" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p18" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I dont't mind being the center of attention.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p19" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p19" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p19" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p19" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p19" value="strongly_disagree">
              <label>Strongly disagree</label>
            </li>
          </ul>

            <label class="statement">I feel comfortable around people.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p20" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p20" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p20" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p20" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p20" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I think a lot before I speak or act.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p24" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p24" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p24" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p24" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p24" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
        </div>
        <!-- Grid column 2-->
<div class="col-md-4" style="background-color:#fafaff">
  <br>
  <br>
  <br>
  <br>
            <label class="statement">I have not intention of talking in large crowds.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p27" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p27" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p27" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p27" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p27" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I get irritated easily.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p28" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p28" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p28" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p28" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p28" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I get stressed out easily.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p29" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p29" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p29" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p29" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p29" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>

            <label class="statement">I get upset easily.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p30" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p30" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p30" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p30" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p30" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I have frequent mood swings.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p31" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p31" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p31" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p31" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p31" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I worry about things.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p32" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p32" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p32" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p32" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p32" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I am much more anxious than most people.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p33" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p33" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p33" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p33" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p33" value="strongly_disagree" required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I am relaxed most of the time.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p34" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p34" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p34" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p34" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p34" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I am interested in people.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p36" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p36" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p36" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p36" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p36" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I sympathize with other's feelings.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p37" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p37" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p37" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p37" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p37" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
  
            <label class="statement">I take time out for others.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p39" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p39" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p39" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p39" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p39" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
        </div>
        <!-- Grid column 3-->
<div class="col-md-4" style="background-color:#fafaff">
  <br>
  <br>
  <br>
  <br>
            <label class="statement">I feel other's emotions.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p40" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p40" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p40" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p40" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p40" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I am not really interested in others.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p42" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p42" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p42" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p42" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p42" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I am not interested in other people's problems.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p44" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p44" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p44" value="agree"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p44" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p44" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I wouldn't use flattery to get a raise or promotion at work, even if I thought it would succeed.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p46" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p46" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p46" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p46" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p46" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">Having a lot of money is not especially important to me.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p47" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p47" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p47" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p47" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p47" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">If I want something from someone, I will laugh at that person's worst jokes.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p48" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p48" value="strong_agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p48" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p48" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p48" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I would never accept a bribe, even if it were very large.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p49" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p49" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p49" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p49" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p49" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I want people to know I am an important person of high status.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p50" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p50" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p50" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p50" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p50" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
            <label class="statement">I wouldn’t pretend to like someone just to get that person to do favors for me.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="p51" value="strong_agree"required>
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="p51" value="agree"required>
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="p51" value="neutral"required>
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="p51" value="disagree"required>
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="p51" value="strongly_disagree"required>
              <label>Strongly disagree</label>
            </li>
          </ul>
       <br>
       <br>
       <br>
       <br>   
       <br>
       <br>
       <br>
       <br>   
       <br>
       <br>
                     
<footer>
    <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit">
        SAVE
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>
</div>
  </footer>
        </form>
      </div>
      {% endif %}
 


 {%endblock%}