{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/content/phone.css" />

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


           
<phone>
 <speaker></speaker>
       
 <screen>
<h6>Hi There!<br>I am learning to respond like you do, <br>I am going to ask you few things...
    <br> then I will give you possible asnwers,
    <br>please tell me which one do you like the most</h6>
</screen>

<button>&#9776;</button>

    </phone>
   

    <br>
      
    <br>
    <br>
    
              <div class="container">
              <div class="row">
                  
                  <div class="col-md-8">
                      <div class="dialogbox">
                          <div class="body">
                               <span class="tip tip-right"></span>
                               <div class="message">
                                      <span><strong>When did you last vist your dentist?</strong></span>
                                       <br>
                                       <a href="{{ url_for('table1') }}">Hardly ever &raquo;</a>
                                       <br>
                                       <a href="{{ url_for('table2') }}">Occasionally  &raquo;</a>  

                                </div>                  
                               </div>
                          </div>
                      </div>
</div>
     
                  <br>
                 
    <div class="container">
       <div class="row">
                              
            <div class="col-md-8">
               <div class="dialogbox">
                   <div class="body">
                        <span class="tip tip-right"></span>
                           <div class="message">
                           <span><strong>How often do you change your toothbrush?</strong></span>
                                       <br>
                            <a href="{{ url_for('table3') }}">Hardly ever &raquo;</a>
                                                  <br>
                           <a href="{{ url_for('table4') }}">Sometimes  &raquo;</a>  

                                           </div>
                                      </div>
                                  </div>
                              </div>
                              <br>
                             
                             
                              <div class="container">
                                      <div class="row">
                                          
                                          <div class="col-md-8">
                                              <div class="dialogbox">
                                                  <div class="body">
                                                       <span class="tip tip-right"></span>
                                                       <div class="message">
                                                              <span><strong>Do you smoke?</strong></span>
                                                              <br>
                                                              <a href="{{ url_for('table5') }}">Yes &raquo;</a>
                                                              <br>
                                                           
          
                                                       </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <br>
                                      
                                          <div class="container">
                                                  <div class="row">
                                                      
                                                      <div class="col-md-6">
                                                          <div class="dialogbox">
                                                              <div class="body">
                                                                   <span class="tip tip-right"></span>
                                                                   <div class="message">
                                                                          <span><strong>Do you use mouthwash and  dental floss?</strong></span>
                                                                    
                                                                          <br>
                                                                          <a href="{{ url_for('table7') }}">Maybe &raquo;</a>
                                                                         
                              

                                                                   </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                  
                                                     <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>                                    <br>   
                  <br>                              <br>
                                                      <br>                                    <br>   
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>                       <br>
                                
                  <A HREF="javascript:javascript:history.go(-1)">Click here to go back to previous page</A>


                   
{% endblock %}