<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="/static/content/likes.css" />

<link rel="stylesheet" type="text/css" href="/static/content/phone.css" />
<link rel="stylesheet" type="text/css" href="/static/content/dialogbox.css" />
<link rel="stylesheet" type="text/css" href="/static/content/container.css" />
<script src="/static/scripts/modernizr-2.6.2.js"></script>   
</head>
<br>
<label>Help me out to tell you the right statement</label>
<h6>In this section I am going to give you oral health advise
    <br>please tell me which  statements you like the most</h6>  
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">
        <div class="item">
          <phone>
                <speaker></speaker>
                <screen>DentoBot
                </screen>
                <button>&#9776;</button>
              </phone>
        </div>
       
  

      
        <pre class="tab"> <a href="{{ url_for('table2') }}">why you should visit the dentist? &raquo;</a>
        
        <pre class="tab"><a href="{{ url_for('table3') }}">About your toothbrush &raquo;</a>               

        <pre class="tab"></pre><a href="{{ url_for('table4') }}"> Do you smoke? &raquo;</a>
<br>
<br>
<A HREF="javascript:javascript:history.go(-1)">Exit page! </A>
<br>
<br>
        </div>
       
      </div>

      