
{% extends "layout.html" %}

{% block content %}

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
 <div class="container-fluid">
 
        <br>
        <br>
        <h2>About</h2>
        <br> <br>
                <p align="left"><strong>Dental health education</strong> can have a positive impact on people's 
                   attitudes towards their dental health. The problem with giving recommendations and advice is
                   that people often ignore this and can be resistant to change.
                   
                   <p align="left"> <strong>Dentobot</strong> is a conversational system that is curently under 
                        development. The purpose is to motivate and help people to identify their own dental
                        health goals and help negotiate behavioural change along with general health goals
                        focusing on prevention.
                  
                   <p align="left"><strong>Dentobot</strong> needs your help. By honestly answering the survey
                        you can help it's developers and researchers bulid an agent that can change people's lives
                        for the better.</p>
                <hr>
                  <p align="left"><strong>Instructions:</strong> We would really appreciate if you can be as honest as possible.
                        Please take your time to fill out the survey.  Once registered, your authentication
                        details will allow you to access the survey anytime in case you cannot complete it in one sitting.
                        <strong>Thank you in advance for your valuable contribution.</strong> </p>
      
                      </align>   
                      
                    
   <div class=" col-sm-100 col-xs-12">
    <form method="post">
     <div class="form-group ">
         <br>
        
      
 <div class="jumbotron jumbotron-fluid">
        <style>
                .jumbotron { 
                  background-color:#262626; /* Orange */
                  color: #ffffff;
                }
            </style>
        <div class="container">
       
        <div class="col-md-10" >
      <label class="control-label " for="username">
       Choose an username
      </label>
      </div>
      <input class="form-control" id="username" name="username" type="text"/>
       
     <div class="col-md-20" >
     <div class="form-group ">
      <label class="control-label " for="password">
      Password
      </label>
      <input class="form-control" id="password" name="password" type="text"/>
     </div>
    </div>

    <div class="col-md-10" >
       <button class="btn btn-primary " name="submit" type="submit">
        Submit
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>


</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{%endblock%}