
{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
<br>
<br>
<form action="{{ url_for('add_table_4') }}" method="post">
<br>
<center>

        <h4>Smoke: Yes </h4>
        <h6> Please rate the following statements based on how strongly they affect you emotionally: </h6>
       
    </div>
</center>
    <table class="blueTable">
            <thead>
            <tr>
            <th>Statements</th>
            <th>Ratings</th>
        </thead>
        <tbody>
        <tr>
        <td>
It looks kind of cool when cool people smoke but 
I can picture surprising ways how smoking isn't cool at all. 
Smoker can't see the damage to most of the body’s organs and systems can cause. 
Every year thousands of people die from mouth cancer brought on by smoking.
               
        </td>
        <td>
                        <div class="form-group ">
                                        <label class="control-label " for="select">
                                                
                                    
                                        <select class="select form-control" id="smk1" name="smk1"required>
                                            <option value="1">
                                                1
                                               </option>
                                               <option value="2">
                                                2
                                               </option>
                                               <option value="3">
                                                3
                                               </option>
                                               <option value="4">
                                                4
                                               </option>
                                               <option value="5">
                                                5
                                               </option>
                                               <option value="6">
                                                6
                                               </option>
                                               <option value="7">
                                                7
                                               </option>
                                               <option value="8">
                                                8
                                               </option>
                                               <option value="9">
                                                9
                                               </option>
                                               <option value="10">
                                                10
                                               </option>
        </td>
        </tr>
        <tr>
<td>

Although smoker listens loud and clear that smoking is unhealthy still 
they prefer do not hear the advise. Despise you already noticed some changes like a hacking cough and symptoms over time you may start to develop cancer. Every year thousands of people die from mouth cancer brought on by smoking.

</td>
        <td>
                        <div class="form-group ">
                                        <label class="control-label " for="select">
                                                
                                    
                                        <select class="select form-control" id="smk2" name="smk2"required>
                                            <option value="1">
                                                1
                                               </option>
                                               <option value="2">
                                                2
                                               </option>
                                               <option value="3">
                                                3
                                               </option>
                                               <option value="4">
                                                4
                                               </option>
                                               <option value="5">
                                                5
                                               </option>
                                               <option value="6">
                                                6
                                               </option>
                                               <option value="7">
                                                7
                                               </option>
                                               <option value="8">
                                                8
                                               </option>
                                               <option value="9">
                                                9
                                               </option>
                                               <option value="10">
                                                10
                                               </option>
        </td>
        </tr>
        <tr>
<td>
 People generally find smoking cigars calming. The feeling is a relaxing experience.
 Tough, you can ‘t feel the silent poison I am sure you already are feeling some changes like a mere runny nose.
 Smoker can't feel the damage to most of the body’s organs and systems can cause. Every year thousands of people die from mouth cancer brought on by smoking.
                
 </td>
        <td>
                        <div class="form-group ">
                                        <label class="control-label " for="select">
                                                
                                    
                                        <select class="select form-control" id="smk3" name="smk3"required>
                                            <option value="1">
                                                1
                                               </option>
                                               <option value="2">
                                                2
                                               </option>
                                               <option value="3">
                                                3
                                               </option>
                                               <option value="4">
                                                4
                                               </option>
                                               <option value="5">
                                                5
                                               </option>
                                               <option value="6">
                                                6
                                               </option>
                                               <option value="7">
                                                7
                                               </option>
                                               <option value="8">
                                                8
                                               </option>
                                               <option value="9">
                                                9
                                               </option>
                                               <option value="10">
                                                10
                                               </option>
        </td>
        </tr>
        <tr>
 <td>
 Studies indicate that there is a definitive link between the use of tobacco products and the development of oral cancer. Researchers found that smoking can lead to cancer in the mouth or throat and oral tobacco products are associated with cancer in the cheeks, gums, and the inner surface of the lips.
 Every year thousands of people die from mouth cancer brought on by smoking.
                
        </td>
        <td>
                        <div class="form-group ">
                                        <label class="control-label " for="select">
                                                
                                    
                                        <select class="select form-control" id="smk4" name="smk4"required>
                                            <option value="1">
                                                1
                                               </option>
                                               <option value="2">
                                                2
                                               </option>
                                               <option value="3">
                                                3
                                               </option>
                                               <option value="4">
                                                4
                                               </option>
                                               <option value="5">
                                                5
                                               </option>
                                               <option value="6">
                                                6
                                               </option>
                                               <option value="7">
                                                7
                                               </option>
                                               <option value="8">
                                                8
                                               </option>
                                               <option value="9">
                                                9
                                               </option>
                                               <option value="10">
                                                10
                                               </option>

        </td>
        </tr>
<td>
You may found that once you start smoking, you are not treated the same way. People may not want to have their children around you or may not want to be around you themselves. They are likely worried about the effects of secondhand smoke and don’t want to endure any of the physical problems.
associated with smoking for themselves.
Every year thousands of people die from mouth cancer brought on by smoking.
                
        </td>
        <td>
                        <div class="form-group ">
                                        <label class="control-label " for="select">
                                                
                                    
                                        <select class="select form-control" id="smk5" name="smk5"required>
                                            <option value="1">
                                                1
                                               </option>
                                               <option value="2">
                                                2
                                               </option>
                                               <option value="3">
                                                3
                                               </option>
                                               <option value="4">
                                                4
                                               </option>
                                               <option value="5">
                                                5
                                               </option>
                                               <option value="6">
                                                6
                                               </option>
                                               <option value="7">
                                                7
                                               </option>
                                               <option value="8">
                                                8
                                               </option>
                                               <option value="9">
                                                9
                                               </option>
                                               <option value="10">
                                                10
                                               </option>

        </td>
        </tr>
 <td>
Smoking is not always stylised, neither in real life nor in fiction
contrary to popular belief, smoking doesn’t only harm the lungs of a smoker.
Most people know that smoking can cause lung and throat cancer, but many people still don't know that it is one of the main causes of mouth cancer too. Every year thousands of people die from mouth cancer brought on by smoking.
                       

 </td>
 <td>
                <div class="form-group ">
                                <label class="control-label " for="select">
                                        
                            
                                <select class="select form-control" id="smk6" name="smk6"required>
                                    <option value="1">
                                        1
                                       </option>
                                       <option value="2">
                                        2
                                       </option>
                                       <option value="3">
                                        3
                                       </option>
                                       <option value="4">
                                        4
                                       </option>
                                       <option value="5">
                                        5
                                       </option>
                                       <option value="6">
                                        6
                                       </option>
                                       <option value="7">
                                        7
                                       </option>
                                       <option value="8">
                                        8
                                       </option>
                                       <option value="9">
                                        9
                                       </option>
                                       <option value="10">
                                        10
                                       </option>

 </td>
        </tr>
<td>
Long-term smoking can damage the body beyond repair. 
Most people know that smoking can cause lung and throat cancer, 
but many people still don't know that it is one of the main causes of mouth cancer too. Every year thousands of people die from mouth cancer brought on by smoking.

</td>

<td>
                <div class="form-group ">
                                <label class="control-label " for="select">
                                        
                            
                                <select class="select form-control" id="smk7" name="smk7"required>
                                    <option value="1">
                                        1
                                       </option>
                                       <option value="2">
                                        2
                                       </option>
                                       <option value="3">
                                        3
                                       </option>
                                       <option value="4">
                                        4
                                       </option>
                                       <option value="5">
                                        5
                                       </option>
                                       <option value="6">
                                        6
                                       </option>
                                       <option value="7">
                                        7
                                       </option>
                                       <option value="8">
                                        8
                                       </option>
                                       <option value="9">
                                        9
                                       </option>
                                       <option value="10">
                                        10
                                       </option>

</td>
        </tr>
<td>
Smoking can be considered empowering it shows confidence and can make you look more classy, sexy smarter you are not ordinary.
However, the disturbing truth is Every year thousands of people die from mouth cancer brought on by smoking
                

</td>
  <td>
                <div class="form-group ">
                                <label class="control-label " for="select">
                                        
                            
                                <select class="select form-control" id="smk8" name="smk8"required>
                                    <option value="1">
                                        1
                                       </option>
                                       <option value="2">
                                        2
                                       </option>
                                       <option value="3">
                                        3
                                       </option>
                                       <option value="4">
                                        4
                                       </option>
                                       <option value="5">
                                        5
                                       </option>
                                       <option value="6">
                                        6
                                       </option>
                                       <option value="7">
                                        7
                                       </option>
                                       <option value="8">
                                        8
                                       </option>
                                       <option value="9">
                                        9
                                       </option>
                                       <option value="10">
                                        10
                                       </option>

  </td>
        </tr>
<td>

  You have the tendency to believe that you are less likely to experience a negative event compared to others you think that you can quit whenever you want to. You are always an optimist.
  This is not bad at all but unfortunately back to reality Every year thousands of people die from mouth cancer brought on by smoking. Yes, you can too, that can happen to you.
                
        </td>
 <td>
                <div class="form-group ">
                                <label class="control-label " for="select">
                                        
                            
                                <select class="select form-control" id="smk9" name="smk9"required>
                                    <option value="1">
                                        1
                                       </option>
                                       <option value="2">
                                        2
                                       </option>
                                       <option value="3">
                                        3
                                       </option>
                                       <option value="4">
                                        4
                                       </option>
                                       <option value="5">
                                        5
                                       </option>
                                       <option value="6">
                                        6
                                       </option>
                                       <option value="7">
                                        7
                                       </option>
                                       <option value="8">
                                        8
                                       </option>
                                       <option value="9">
                                        9
                                       </option>
                                       <option value="10">
                                        10
                                       </option>

 </td>
        </tr>
        </tbody>
        </table>



           




<center>
        <br>
            <footer>
                        <div class="form-group">
                          <div>
                           <button class="btn btn-primary " name="submit" type="submit">
                            SAVE
                           </button>
                          </div>
                         </div>
                        </form>
                       </div>
                      </div>
                     </div>
                    </div>
                    </div>
                      </footer>
</center>
<br>
<center>
            <A HREF="javascript:javascript:history.go(-1)">Click here to go back to previous page</A>

 </center>









{%endblock%}