
{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
<br>
<br>
<br>
<form action="{{ url_for('add_table_7') }}" method="post">
        <h4>Floss every day - Use the mouth wash daily: </h4>
        <h6> Please rate the following statements based on how strongly they affect you emotionally: </h6>
       
    </div>

    <table class="blueTable">
            <thead>
            <tr>
            <th>Statements</th>
            <th>Ratings</th>
            </tr>
            </thead>
            <tbody>
            <tr>
          <td>
         An easy way to prevent soft teeth  is by using mouthwash to your routine because mouthwash contain fluorine that can help prevent tooth decay and periodontal diseases </td>
         <td>  <div class="form-group ">
                        <label class="control-label " for="select">
                                
                    
                        <select class="select form-control" id="m_1" name="m_1"required>
                         <option value="1">
                        1
                         </option>
                         <option value="2">
                        2
                         </option>
                         <option value="3">
                        3
                        </option>
                        <option value="4">
                        4
                        </option>
                        <option value="5">
                        5
                        </option></td>
            </tr>
            <tr>
            <td>
            Missing teeth can also totally alter people’s overall facial appearance. It can make a person look older due to missing and diminishing bone. You can prevent it by practising proper dental hygiene. 
          <td>
                    <div class="form-group ">
                            <label class="control-label " for="select">
                                    
                        
                            <select class="select form-control" id="m_2" name="m_2"required>
                             <option value="1">
                            1
                             </option>
                             <option value="2">
                            2
                             </option>
                             <option value="3">
                            3
                            </option>
                            <option value="4">
                            4
                            </option>
                            <option value="5">
                            5
                            </option>
            </td>
            </tr>
            <tr>
            <td>
          If you think that “soft teeth” are the reason that cavities tend to run in families, you'll be surprised to know the real reason. Research shows that dental caries (tooth decay) is an infectious disease. 
            </td>
            <td> <div class="form-group ">
                    <label class="control-label " for="select">
                            
                
                    <select class="select form-control" id="m_3" name="m_3"required>
                     <option value="1">
                    1
                     </option>
                     <option value="2">
                    2
                     </option>
                     <option value="3">
                    3
                    </option>
                    <option value="4">
                    4
                    </option>
                    <option value="5">
                    5
                    </option>

            </td>
            </tr>
            <tr>
            <td>Do you wish to have healthy teeth? Then you should follow a proper dental care routine that includes mouthwash and floss.
         </td>
            <td> <div class="form-group ">
                    <label class="control-label " for="select">
                            
                
                    <select class="select form-control" id="m_4" name="m_4"required>
                     <option value="1">
                    1
                     </option>
                     <option value="2">
                    2
                     </option>
                     <option value="3">
                    3
                    </option>
                    <option value="4">
                    4
                    </option>
                    <option value="5">
                    5
                    </option></td>
            </tr>
            <tr>
            <td>
                 You should care about your own dental health no one else will do it for you. Buy a mouthwash and used it because this benefits you.  
                </td>
            <td>
                    <div class="form-group ">
                            <label class="control-label " for="select">
                                    
                        
                            <select class="select form-control" id="m_5" name="m_5"required>
                             <option value="1">
                            1
                             </option>
                             <option value="2">
                            2
                             </option>
                             <option value="3">
                            3
                            </option>
                            <option value="4">
                            4
                            </option>
                            <option value="5">
                            5
                            </option>
            </td>
            </tr>
            </tbody>
            </table>
            <footer>
                        <div class="form-group">
                          <div>
                           <button class="btn btn-primary " name="submit" type="submit">
                            SAVE
                           </button>
                          </div>
                         </div>
                        </form>
                       </div>
                      </div>
                     </div>
                    </div>
                    </div>
                      </footer>
            <A HREF="javascript:javascript:history.go(-1)">Click here to go back to previous page</A>











{%endblock%}