
{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
<br>
<br>
<br>
<form action="{{ url_for('add_table_3') }}" method="post">
 <center>
        <h4>Changing toothbrushes: Very rare </h4>
        <h6> Please rate the following statements based on how strongly they affect you emotionally: </h6>
</center>
    </div>

    <table class="blueTable">
            <thead>
            <tr>
            <th>Statements</th>
            <th>Ratings</th>
            </tr>
            </thead>
            <tbody>
            <tr>
          <td>
I’ll show you the ugly truth about your toothbrush and germs, is probably more disgusting than you can see or think of. I’ll paint the picture. Your toothbrush is home to more than 100 million bacteria including E. coli and staphylococci (Staph) bacteria.Do you see what I mean, bacteria cause gum disease, and decay, and bad breath.
The point of having a toothbrush is to get bacteria out of your mouth, so if you don’t change it regularly you are at risk for infections
                        
        </td>
         <td>  <div class="form-group ">
                        <label class="control-label " for="select">
                                
                    
                        <select class="select form-control" id="bh_1" name="bh_1"required>
                                        <option value="1">
                                                        1
                                                       </option>
                                                       <option value="2">
                                                        2
                                                       </option>
                                                       <option value="3">
                                                        3
                                                       </option>
                                                       <option value="4">
                                                        4
                                                       </option>
                                                       <option value="5">
                                                        5
                                                       </option>
                                                       <option value="6">
                                                        6
                                                       </option>
                                                       <option value="7">
                                                        7
                                                       </option>

                                                       <option value="8">
                                                        8
                                                       </option>

                                                       <option value="9">
                                                        9
                                                       </option>

                                                       <option value="10">
                                                        10
                                                       </option>            
                        </td>
            </tr>
            <tr>
<td>
I’ll ring a bell for you, The point of having a toothbrush is to get bacteria out of your mouth, so if you don’t change it regularly you are at risk for infections. Listen carefully bacteria cause gum disease, and decay, and bad breath even major problems like coronary diseases.
To maximize your dental and overall health change your toothbrush every three months.          
 <td>
                    <div class="form-group ">
                            <label class="control-label " for="select">
                                    
                        
                            <select class="select form-control" id="bh_2" name="bh_2"required>
                                        <option value="1">
                                                        1
                                                       </option>
                                                       <option value="2">
                                                        2
                                                       </option>
                                                       <option value="3">
                                                        3
                                                       </option>

                                                       <option value="4">
                                                        4
                                                       </option>
        
                                                       <option value="5">
                                                        5
                                                       </option>
        
                                                       <option value="6">
                                                        6
                                                       </option>
       
                                                       <option value="7">
                                                        7
                                                       </option>
            
                                                       <option value="8">
                                                        8
                                                       </option>

                                                       <option value="9">
                                                        9
                                                       </option>
                  
                                                       <option value="10">
                                                        10
                                                       </option>
            </td>
            </tr>
            <tr>
 <td>
 Do you know how many bacteria live on your toothbrush? Brace yourself! Researchers have found that a single toothbrush can be loaded with as many as 10 million germs and bacteria. Old infected toothbrushes can make you feel ill and have recurrent throat infections.
 The feeling of brushing your teeth with a new toothbrush is always pleasing and worthy. Just feels good. Why not change your toothbrush more often?
</td>
            <td> <div class="form-group ">
                    <label class="control-label " for="select">
                            
                
                    <select class="select form-control" id="bh_3" name="bh_3"required>
                                <option value="1">
                                                1
                                               </option>
                                               <option value="2">
                                                2
                                               </option>
                                               <option value="3">
                                                3
                                               </option>
             
                                               <option value="4">
                                                4
                                               </option>
                 
                                               <option value="5">
                                                5
                                               </option>
              
                                               <option value="6">
                                                6
                                               </option>
              
                                               <option value="7">
                                                7
                                               </option>
                         
                                               <option value="8">
                                                8
                                               </option>
                  
                                               <option value="9">
                                                9
                                               </option>
                                
                                               <option value="10">
                                                10
                                               </option>

            </td>
            </tr>
 <tr>
<td>
According to researchers, you should change your toothbrush every three months. Your toothbrush is home to more than 100 million bacteria including E. coli and staphylococci (Staph) bacteria, according to researchers at the University of Manchester in England. And the University of Alabama at Birmingham found that faecal germs were on your toothbrushes too. Remember, "Bacteria cause gum disease, and decay, and bad breath.
The point of having a toothbrush is to get bacteria out of your mouth, so if you don’t change it regularly you are at risk for infections. 
                      
</td>
            <td> <div class="form-group ">
                    <label class="control-label " for="select">
                            
                
                    <select class="select form-control" id="bh_4" name="bh_4"required>
                                <option value="1">
                                                1
                                               </option>
                                               <option value="2">
                                                2
                                               </option>
                                               <option value="3">
                                                3
                                               </option>
                               
                                               <option value="4">
                                                4
                                               </option>
                                        
                                               <option value="5">
                                                5
                                               </option>
                                         
                                               <option value="6">
                                                6
                                               </option>
                                           
                                               <option value="7">
                                                7
                                               </option>
                                         
                                               <option value="8">
                                                8
                                               </option>
                                      
                                               <option value="9">
                                                9
                                               </option>
                                              
                                               <option value="10">
                                                10
                                               </option>
                </td>
            </tr>
            <tr>
 <td>
 Most dentists agree you should change your toothbrush every three months. At least for most people who brush twice a day.
.The point of having a toothbrush is to get bacteria out of your mouth, so if you don’t change it regularly you are at risk for infections. Just use common sense on this and change your toothbrush.
                             
</td>
            <td>
                    <div class="form-group ">
                            <label class="control-label " for="select">
                                    
                        
                            <select class="select form-control" id="bh_5" name="bh_5"required>
                                        <option value="1">
                                                        1
                                                       </option>
                                                       <option value="2">
                                                        2
                                                       </option>
                                                       <option value="3">
                                                        3
                                                       </option>
                                                   
                                                       <option value="4">
                                                        4
                                                       </option>
                                                      
                                                       <option value="5">
                                                        5
                                                       </option>
                                                      
                                                       <option value="6">
                                                        6
                                                       </option>
                                                      
                                                       <option value="7">
                                                        7
                                                       </option>
                                                       
                                                       <option value="8">
                                                        8
                                                       </option>
                                                     
                                                       <option value="9">
                                                        9
                                                       </option>
                                                      
                                                       <option value="10">
                                                        10
                                                       </option>
            </td>
            </tr>
            <tr>
<td>
Keeping Your Smile White, Bright, and Healthy is not that hard, by changing your toothbrush regularly 
 You boost your oral hygiene 
 Remember,bacteria can hide in toothbrush bristles and lead to infections
 Bacteria cause gum disease, decay, and bad breath.To maximize your dental health change your toothbrush every three months.

</td>
            <td>
                        <div class="form-group ">
                                        <label class="control-label " for="select">
                                                
                                    
                                        <select class="select form-control" id="bh_6" name="bh_6"required>
                                                    <option value="1">
                                                                    1
                                                                   </option>
                                                                   <option value="2">
                                                                    2
                                                                   </option>
                                                                   <option value="3">
                                                                    3
                                                                   </option>
                                                               
                                                                   <option value="4">
                                                                    4
                                                                   </option>
                                                                  
                                                                   <option value="5">
                                                                    5
                                                                   </option>
                                                                  
                                                                   <option value="6">
                                                                    6
                                                                   </option>
                                                                  
                                                                   <option value="7">
                                                                    7
                                                                   </option>
                                                                   
                                                                   <option value="8">
                                                                    8
                                                                   </option>
                                                                 
                                                                   <option value="9">
                                                                    9
                                                                   </option>
                                                                  
                                                                   <option value="10">
                                                                    10
                                                                   </option>
            </td>
                      
             </tr>
             <tr>
<td>
We all know the basics 
when it comes to keeping your teeth healthy. Beyond healthy teeth, a reason to change your toothbrush more regularly is to avoid germs and bacteria.
Remember, "Bacteria cause gum disease, and decay, and bad breath.    
</td>
            <td>
                        <div class="form-group ">
                                        <label class="control-label " for="select">
                                                
                                    
                                        <select class="select form-control" id="bh_7" name="bh_7"required>
                                                    <option value="1">
                                                                    1
                                                                   </option>
                                                                   <option value="2">
                                                                    2
                                                                   </option>
                                                                   <option value="3">
                                                                    3
                                                                   </option>
                                                               
                                                                   <option value="4">
                                                                    4
                                                                   </option>
                                                                  
                                                                   <option value="5">
                                                                    5
                                                                   </option>
                                                                  
                                                                   <option value="6">
                                                                    6
                                                                   </option>
                                                                  
                                                                   <option value="7">
                                                                    7
                                                                   </option>
                                                                   
                                                                   <option value="8">
                                                                    8
                                                                   </option>
                                                                 
                                                                   <option value="9">
                                                                    9
                                                                   </option>
                                                                  
                                                                   <option value="10">
                                                                    10
                                                                   </option>
            </td>
            </tr>
            <tr>
<td>
Healthier, happier and smarter people tend to live an intelligent lifestyle. 
As an intelligent person, you understand that the point of having a toothbrush is to get bacteria out of your mouth, 
so if you don’t change it regularly you are not making sense and you are at risk for infections. 


</td>
            <td>
                        <div class="form-group ">
                                        <label class="control-label " for="select">
                                                
                                    
                                        <select class="select form-control" id="bh_8" name="bh_8"required>
                                                    <option value="1">
                                                                    1
                                                                   </option>
                                                                   <option value="2">
                                                                    2
                                                                   </option>
                                                                   <option value="3">
                                                                    3
                                                                   </option>
                                                               
                                                                   <option value="4">
                                                                    4
                                                                   </option>
                                                                  
                                                                   <option value="5">
                                                                    5
                                                                   </option>
                                                                  
                                                                   <option value="6">
                                                                    6
                                                                   </option>
                                                                  
                                                                   <option value="7">
                                                                    7
                                                                   </option>
                                                                   
                                                                   <option value="8">
                                                                    8
                                                                   </option>
                                                                 
                                                                   <option value="9">
                                                                    9
                                                                   </option>
                                                                  
                                                                   <option value="10">
                                                                    10
                                                                   </option>
            </td>
                      
         </tr>
         <tr>
                      
<td>
Brushing your teeth is a daily activity for you, Wake up, brush; get ready to bed, brush, but what is the status of your toothbrush. If your toothbrush isn’t new how can you expect it to have a good oral hygiene? Remember,
Bacteria cause gum disease, decay, and bad breath. To maximize your dental health change your toothbrush every three months.

</td>
<td>
                <div class="form-group ">
                                <label class="control-label " for="select">
                                        
                            
                                <select class="select form-control" id="bh_9" name="bh_9"required>
                                            <option value="1">
                                                            1
                                                           </option>
                                                           <option value="2">
                                                            2
                                                           </option>
                                                           <option value="3">
                                                            3
                                                           </option>
                                                       
                                                           <option value="4">
                                                            4
                                                           </option>
                                                          
                                                           <option value="5">
                                                            5
                                                           </option>
                                                          
                                                           <option value="6">
                                                            6
                                                           </option>
                                                          
                                                           <option value="7">
                                                            7
                                                           </option>
                                                           
                                                           <option value="8">
                                                            8
                                                           </option>
                                                         
                                                           <option value="9">
                                                            9
                                                           </option>
                                                          
                                                           <option value="10">
                                                            10
                                                           </option>

</td>
</tr>
            </tbody>
            </table>
            <footer>
                    <center>
                        <div class="form-group">
                          <div>
                           <button class="btn btn-primary " name="submit" type="submit">
                            SAVE
                           </button>
                          </div>
                         </div>
                        </form>
                       </div>
                      </div>
                     </div>
                    </div>
                    </div>
                      </footer>
                </center>
<center>
 <A HREF="javascript:javascript:history.go(-1)">Click here to go back to previous page</A>




        </center>






{%endblock%}