
{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
<br>
<br>
<br>

        <h4>smoke: already quit </h4>
        <h6> Please rate the following statements based on how strongly they affect you emotionally: </h6>
       
    </div>

    <table class="blueTable">
            <thead>
            <tr>
            <th>Statements</th>
            <th>Ratings</th>
            </tr>
            </thead>
            <tbody>
            <tr>
          <td>
         Depending on how much you have smoked it may exit some periodontal infection in your gums. A  visit to your dentist may advisable.   </td>
         <td>  <div class="form-group ">
                        <label class="control-label " for="select">
                                
                    
                        <select class="select form-control" id="rates1" name="rates1"required>
                         <option value="1">
                        1
                         </option>
                         <option value="2">
                        2
                         </option>
                         <option value="3">
                        3
                        </option>
                        <option value="4">
                        4
                        </option>
                        <option value="5">
                        5
                        </option></td>
            </tr>
            <tr>
            <td>
         As you know smoking is very harmful to your oral and general health. Show me your teeth. Doesn't it look brighter your smile?
          <td>
                    <div class="form-group ">
                            <label class="control-label " for="select">
                                    
                        
                            <select class="select form-control" id="rates2" name="rates2"required>
                             <option value="1">
                            1
                             </option>
                             <option value="2">
                            2
                             </option>
                             <option value="3">
                            3
                            </option>
                            <option value="4">
                            4
                            </option>
                            <option value="5">
                            5
                            </option>
            </td>
            </tr>
            <tr>
            <td>
            </td>
            <td> <div class="form-group ">
                    <label class="control-label " for="select">
                            
                
                    <select class="select form-control" id="rates3" name="rates3"required>
                     <option value="1">
                    1
                     </option>
                     <option value="2">
                    2
                     </option>
                     <option value="3">
                    3
                    </option>
                    <option value="4">
                    4
                    </option>
                    <option value="5">
                    5
                    </option>

            </td>
            </tr>
            <tr>
            <td>
         </td>
            <td> <div class="form-group ">
                    <label class="control-label " for="select">
                            
                
                    <select class="select form-control" id="rates4" name="rates4"required>
                     <option value="1">
                    1
                     </option>
                     <option value="2">
                    2
                     </option>
                     <option value="3">
                    3
                    </option>
                    <option value="4">
                    4
                    </option>
                    <option value="5">
                    5
                    </option></td>
            </tr>
            <tr>
            <td>
        </td>
            <td>
                    <div class="form-group ">
                            <label class="control-label " for="select">
                                    
                        
                            <select class="select form-control" id="rates5" name="rates5"required>
                             <option value="1">
                            1
                             </option>
                             <option value="2">
                            2
                             </option>
                             <option value="3">
                            3
                            </option>
                            <option value="4">
                            4
                            </option>
                            <option value="5">
                            5
                            </option>
            </td>
            </tr>
            </tbody>
            </table>
            <footer>
                        <div class="form-group">
                          <div>
                           <button class="btn btn-primary " name="submit" type="submit">
                            SAVE
                           </button>
                          </div>
                         </div>
                        </form>
                       </div>
                      </div>
                     </div>
                    </div>
                    </div>
                      </footer>
            <A HREF="javascript:javascript:history.go(-1)">Click here to go back to previous page</A>











{%endblock%}