<link rel="stylesheet" type="text/css" href="/static/content/cardss.css" />
<link rel="stylesheet" type="text/css" href="/static/content/2columns.css" />
<link rel="stylesheet" type="text/css" href="/static/content/table_rates.css" />
<link rel="stylesheet" type="text/css" href="/static/content/button_colors.css" />
<link rel="stylesheet" type="text/css" href="/static/content/ratebutton.css" />
<link rel="stylesheet" type="text/css" href="/static/content/likes.css" />
<link rel="stylesheet" type="text/css" href="/static/content/dialogbox.css" />
<link rel="stylesheet" type="text/css" href="/static/content/line_lirke.css" />